# Node.js related
node_modules
npm-debug.log
yarn-error.log

# TypeScript build artifacts
dist
build
*.tsbuildinfo

# Logs
logs
*.log

# Environment files
.env
.env.local
.env.test
.env.*.local

# Docker-related
.dockerignore
docker-compose.yml
Dockerfile

# IDE and editor-related files
.vscode/
.idea/
*.swp

# OS-related
.DS_Store
Thumbs.db

# Test and coverage files
coverage
*.test.js
*.spec.js
junit.xml
