services:
  
  memonfoundation:
    container_name: memonfoundation-backend
    env_file:
      - .env
    build:
      context: ./
      dockerfile: Dockerfile
    restart: always
    ports:
      - ${PORTAL_PORT}:3100

